# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
message-board-venv/

# editor
.prettierrc
pyproject.toml
.editorconfig


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store
